@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.navbar{
    padding:30px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family:Outfit ;

}

.navbar .logo{
    width: 130px;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap:20px;
    color: black;
    font-size: 16px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar button{
    background: transparent;
    font: 16px;
    border: 1px solid tomato;
    color: #49557e;
    padding: 10px 20px;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.3s;

}

.navbar button:hover{
    background-color: #fff4f2;
   
}

.navbar li{
    cursor: pointer;
}

.navbar-menu li.active{
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e ;
}

.search-icon{
    position: relative;
}
/*Properties like top, right, bottom, left do NOT work if
 we dont use position  */
.search-icon .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right:-8px

}
