
/* height - set exact height 
min-height - lement can grow taller if the content inside needs mor space

*/
.header{
   height: 35vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    background-size: contain;
    position: relative;
}

.header-contents{
    position: absolute;
    
    display: flex;
    flex-direction: column;
    gap:0.8vw;
    max-width: 40%;
    bottom:10%;
    left:4vw;
    align-items: start;
    animation: fadeIn 3s;
}

.header-contents h2{
    font-size: max(4.5vw,22px);
    font-weight: 500;
    color: white;

}

.header-contents p{
 color: white;
 font-weight: 200;
}

.header-contents button{
    border:none;
    border-radius: 50px;
    font-size: 12px;
    padding: 12px;
    color: #747474;
    font-weight: 500;
    background-color: white;
}