*{
  padding:0;
  margin:0;
  box-sizing:border-box;
}

body{
  min-height: 100vh;
}

.app{
  width:85%;
  margin: auto;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }

  100%{
    opacity:1;
  }
}

/* 0% is the start of the animation.
100% is the end of the animation.
 opacity: 0 → invisible; opacity: 1 → fully visible.*/